body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: "#4e4466";
	
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  

  @font-face {
	font-family: 'era';
	src: local('era'), url(./fonts/era.otf) format('opentype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }

  @font-face {
	font-family: 'folklore';
	src: local('folklore'), url(./fonts/folklore.ttf) format('truetype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }

  @font-face {
	font-family: 'Debut';
	src: local('Debut'), url(./fonts/Debut.ttf) format('truetype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'Fearless';
	src: local('Fearless'), url(./fonts/Fearless.otf) format('opentype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'Speak-Now';
	src: local('Speak-Now'), url(./fonts/Speak-Now.otf) format('opentype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'Red';
	src: local('Red'), url(./fonts/Red.ttf) format('truetype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'nine';
	src: local('nine'), url(./fonts/nine.ttf) format('truetype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'reputation';
	src: local('reputation'), url(./fonts/reputation.otf) format('opentype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }
  
  @font-face {
	font-family: 'Lover';
	src: local('Lover'), url(./fonts/Lover.ttf) format('truetype');
	/* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
  }

  @keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  @keyframes slide-up {
	from {
	  transform: translateY(100%);
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  .animate-fade-in {
	animation: fade-in 0.5s ease-in-out;
  }
  
  .animate-slide-up {
	animation: slide-up 0.5s ease-in-out;
  }
  